# Symfony
/vendor/
/var/
/public/bundles/
/public/build/

# Umgebungsdateien
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
!.env
!.env.test

# Node / Assets
/node_modules/
npm-debug.log
yarn-error.log

# PHP / Composer
*.phar

# Tests
.phpunit.result.cache
/coverage/

# DDEV
.ddev/

# Logs
*.log
