parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor
    # Symfony-spezifische Erweiterungen
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    # Keine Baseline – alle Fehler müssen behoben werden
    ignoreErrors: []
    # Strikte Prüfungen
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
